<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-game-controller-b"></ion-icon>

      Aula teste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
          <ion-img src="https://images-na.ssl-images-amazon.com/images/I/810xXvVWWwL._SX679_.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content>
           <ion-card-title>Meu Raspberry Pi</ion-card-title>
           <ion-card-subtitle>Tem um queimado </ion-card-subtitle>
             <br>
          <!-- {{ nome }}<br> -->
            <ion-input [(ngModel)]="valor"></ion-input>
           <ion-button (click)= "clicar()" > Avisar Professor Eduardo </ion-button>
      </ion-card-content>
    </ion-card>
            <ion-input [(ngModel)]="v1"></ion-input>
            <ion-icon name="add"></ion-icon>
            <br>
            <ion-input [(ngModel)]="v2"></ion-input>
            <ion-button (click)= "result()" > Resultado </ion-button>
            <br>
            <br>
            <br>
            <ion-input [(ngModel)]="par_impar"></ion-input>
            <ion-button (click)= "par()" > Verifique </ion-button>
            <br>
            <br>
            <br>
            <ion-input [(ngModel)]="n1"></ion-input>
            <ion-input [(ngModel)]="n2"></ion-input>
            <ion-input [(ngModel)]="n3"></ion-input>
              <ion-button (click)= "maior()" > Verifique </ion-button>
</ion-content>

<ion-footer>

</ion-footer>
